---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
import RobotCard from '@components/cards/RobotCard.astro';
import RobotViewer from '@components/RobotViewer.jsx';
import BabylonViewer from "@components/BabylonViewer";
const title = "Robots";
const robots = await getCollection('robots');

---

<BaseLayout title={title}>
  <section class="py-12">
    <div class="mb-12 text-center">
      <h1 class="text-4xl sm:text-5xl font-bold text-gradient mb-4">Our Robots</h1>
      <p class="text-lg text-emberGray-700 dark:text-emberGray-300 max-w-3xl mx-auto">
        Explore the robots that power our research, enabling cutting-edge experiments 
        in locomotion, manipulation, and autonomous systems.
      </p>
    </div>
    
    <div class="space-y-16">
      {robots.map((robot, index) => (
        <div class="mb-20">
          <!-- Robot Name Header -->
          <h2 class="text-3xl font-bold mb-4 px-3">{robot.data.name}</h2>
          
          <div class={`flex flex-col lg:flex-row gap-8 ${index % 2 === 1 ? 'lg:flex-row-reverse' : ''}`}>
            <!-- Info Card -->
            <div class="w-full lg:w-1/2">
                <div class="lg-1/2">
              <RobotCard robot={robot} />
                </div>
            </div>
            
            <!-- Visual Display: 3D Model or Image -->
            <div class="w-full lg:w-1/2 h-[500px] mt-8 lg:mt-0 relative z-10">

              {robot.data.glb ? (
                <RobotViewer client:only="react" cdn_name={robot.data.glb} />
                // <BabylonViewer client:only="react" />

              ) : robot.data.image ? (
                <img 
                  src={robot.data.image} 
                  alt={`${robot.data.name} robot`} 
                  class="w-full h-full object-cover rounded-xl"
                />
              ) : (
                <div class="w-full h-full flex items-center justify-center text-emberGray-500 dark:text-emberGray-300">
                  No visual available
                </div>
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
  </section>
</BaseLayout>